extends base.pug

block style
    style
        include ../static/CSS/style.css
        include ../static/CSS/services.css
    link(rel='stylesheet' media='screen and (max-width:1365px)' href='/static/CSS/phone.css')

block content
    section#ServicesSection
        h1.heading CLASS INFO
        div.container
            div.card 
                h2 AGE GORUPS
                div.card-box
                    div.text
                        p 1. 4-8 years: Basic Level
                        p 2. 8-12 years: Intermidiate Level
                        p 3. 12+ years: Advance Level

            div.card
                h2 CERTIFICATION
                div.card-box
                    div.text 
                        p After Every year if completetion in the course we will give you a complete certification of accomplishing the task of the year.

            div.card 
                h2 Competitive Learning Envoirment
                div.card-box
                    div.text
                        p  We will keep yearly dance competitions for children and adults to excel in their performances. The competions will force the children to bring out the best in themselves.
                                
            div.card 
                h2 Best Use of Technology
                div.card-box
                    div.text
                        p We will select a few random dancers every week for our YouTube videos which will thus make them practise hard every day. We will analyse them on the day to day basis and present the report to the concerned parents.
        hr

    section#MissionSection
        h1.heading Our Mission
        div.container
            div.card 
                h2 Western Dance Styles Included
                div.card-box
                    div.image 
                        img(src="/static/logos/Box1.png")
                    div.text
                        p Ballet, Jazz, Hip Hop, Contemporary, Break Dance. 

            div.card
                h2 No Restrictions On dancing
                div.card-box
                    div.image 
                        img(src="/static/logos/Box2.png")
                    div.text
                        p Not On Hourly Basis Dance as much as you like.

            div.card 
                h2 Best Teachers | Best Training
                div.card-box
                    div.image 
                        img(src="/static/logos/Box3.png")
                    div.text
                        p Superior teachers demonstrate. The great teachers inspire
