extends base.pug

block scripts
    script(src="/static/index.js")

block style
    style
        include ../static/CSS/contact.css
    link(rel='stylesheet' media='screen and (max-width:1365px)' href='/static/CSS/phone.css')

block content
    h1.heading Contact Us
    form(action="/contact", method="post" id="form")
        input(type="text", name="name" class="myInput" placeholder="Enter Your Name")
        
        input(type="phone", name="phone" class="myInput" placeholder="Enter Your Mobile No.")
        
        input(type="number", name="age" class="myInput" placeholder="Enter Your Age")
        
        input(type="email", name="email" class="myInput" placeholder="Enter Your email address")

        button(class="btn" onClick="displayAlert()")
            | Submit
        <hr>
        section#MissionSection
            h1.heading Our Mission
            div.container
                div.card 
                    h2 Western Dance Styles Included
                    div.card-box
                        div.image 
                            img(src="/static/logos/Box1.png")
                        div.text
                            p Ballet, Jazz, Hip Hop, Contemporary, Break Dance. 

                div.card
                    h2 No Restrictions On dancing
                    div.card-box
                        div.image 
                            img(src="/static/logos/Box2.png")
                        div.text
                            p Not On Hourly Basis Dance as much as you like.

                div.card 
                    h2 Best Teachers | Best Training
                    div.card-box
                        div.image 
                            img(src="/static/logos/Box3.png")
                        div.text
                            p Superior teachers demonstrate. The great teachers inspire
