extends base.pug

block style
    style
        include ../static/CSS/success.css

block content
    div#container
        div#image
            img(src="/static/logos/Checked.jpg", alt="Success")
        div#text
            h1 Success!
            p You Can continue Browsing the Website.
            p Thank You!!
    